Flask==3.0.3
Flask-SQLAlchemy == 3.0.5
Flask-SocketIO == 5.3.5
Werkzeug==3.0.4
eventlet == 0.33.3
python-dotenv == 1.0.0
SQLAlchemy == 2.0.21
gevent-websocket == 0.10.1
psycopg2-binary == 2.9.8
mysqlclient == 2.1.1
pymysql == 1.0.3
alembic == 1.11.1
zipp==1.0.0
blinker==1.8.2
click==8.1.7
importlib-metadata==4.6.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.4z
gunicorn